<!DOCTYPE html>
<html>
  <head>
    <title>Trial information: {{ subject }}</title>
   <link rel="stylesheet" href="style.css">
  </head>
<body>
    <h1>{{ subject }}</h1>
    <h2>Daily</h2>
    <img src="img/daily_condition_trial_numbers.png"/>
    <h2>Daily (collapsed across direction)</h2>
    <img src="img/collapsed_daily_condition_trial_numbers.png"/>
    <h2>Weekly</h2>
    <img src="img/weekly_condition_trial_numbers.png"/>
    <h2>Weekly (collapsed across direction)</h2>
    <img src="img/collapsed_weekly_condition_trial_numbers.png"/>
</body>
</html>